.faithful_partner{
    display: flex;
    align-items: center;
}
.faith_image{
    width: 50%;
    padding: 40px;
}
.faith_image img{
    width: 100%;
}
.faith_text{
    padding: 40px;
}
.faith_text p{
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.5px;
}
.faith_text p > svg{
    font-size: 20px;
    color: #0a9a73;
}
.faith_text hr{
    border-radius: 3px;
    border: 1px solid #e5eaee;
    margin: 40px 0px;
}
.manager_contact{
    display: flex;
    align-items: center;
    justify-content: left;
}
.manager_left{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.manager_left img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
   
}
.manager_info{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
    
}
.manager_info h2{
    margin: 0px;
}
.manager_info p{
    font-size: 14px;
}

.manager_right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #e5eaee;
    padding: 12px;
    border-radius: 6px;
    margin-left: 20px;
}
.manager_right svg{
    font-size: 34px;
    color: #0a9a73;
}

.manager_contact_info{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
.manager_contact_info p{
    font-size: 15px;
}
.manager_contact_info h4{
    margin: 0px;
}
.line{
    width: 2px;
    height: 60px;
    background-color: #e5eaee;
    margin-left: 15px;
}