.our-products{
    text-align: center;
    padding-bottom: 100px;
}
.our-products h1{
    font-size: 28px;
    font-weight: 700;

}
.our-products p{
    font-size: 16px;
    font-weight: 500;
}
.tabs > button{
    width: 130px;
    background-color: #ddd;
    padding: 15px 20px;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 600;
    margin-right: 10px;
    cursor:pointer;
    border-radius: 4px;
}
.tab_btn.active{
    color: #0a9a73;
}

.content{
    display: none;
}
.content h3{
    font-size: 24px;
    font-weight: 600;
}
.content.active{
    display: block;
}
.img_container{
    display: grid;
    grid-template-columns: repeat(4, 1fr auto);
    gap: 15px;
}
.img_container img{
    width: 280px;
}
