.hero{
    width: 1280px;
    display: flex;
    gap: 40px;
    
}
.hero-left{
    width: 25%;
    height: 100%;
    cursor: pointer;
}
.category-container{
    border: 1px solid #ddd;
}
.category-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0a9a73;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
  
}
.category-header svg{
    font-size: 18px;
    font-weight: 600;
    margin-right: 8px;
}

.category-header svg:nth-child(2){
    font-size: 18px;
    font-weight: 600;
}


.item{
    border: 0.5px solid #f6f6f6;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    font-weight: 400;
    transition: all 0.3s ease-in-out;
}
.item span{
    font-size: 17px; 
    font-weight: 500;
}
.item:hover{
    color: #0a9a73;
    background-color: #e0ecee;
    font-weight: 600;
} 
.hero-right{
    width: 65%;
    display: flex;
    flex-direction: column;
  
}
.hero-image-container img{
    width: 100%;
    height: 490px;
}
