.navbar-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
    border-bottom: 1px solid #e5eaee;
    
}
.contact{
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    /* transition: all 0.3s ease-in-out; */
}
.email:hover{
    color: #0a9a73;
    transition: 0.5s;
    
}
.address:hover{
    color: #0a9a73;
    transition: 0.5s;
}
.contact svg{
    color: #0a9a73;
    margin-right: 10px;
    font-size: 16px;
}
.social-icons{
    display: flex;
    gap: 20px;
    font-size: 18px;
    cursor: pointer;
}
.social-icons svg:hover{
    color: #0a9a73;
    transition: 0.5s;
}

/* navbar middle css */
.navbar-middle{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
}
.logo{
    display: flex;
    align-items: center;
}
.logo svg{
    margin-right: 20px;
    margin-right: 10px;
    margin-left: 80px;
    font-size: 30px;
}
.search-bar{
    display: flex;
    align-items: center;
    margin-left: -100px;
}
.search-bar input{
    width: 400px;
    border: 1px solid #0a9a73;
    border-radius: 75px;
    padding: 15px;
    font-size: 16px;
    color: #133236;
    outline: none;
}
.search-bar svg{
    font-size: 20px;
    color: #133236;
    margin-left: -40px;
    cursor: pointer;
}
.login-cart{
    display: flex;
    align-items: center;
    gap: 20px;
}
.login-cart svg{
    font-size: 24px;
}

/* navbar main */
.navbar-main{
    width: 100%;
    height: 60px;
    background-color: #0a9a73;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.nav-list{
    display: flex;
    align-items: center;
    gap: 25px;
    cursor: pointer;
    
}
.nav-list a{
    text-decoration: none;
}
.nav-list li{
    list-style: none;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    
}