.product_details_container{
    display: flex;
    width: 100%;
    margin-top: 40px;
}
.details_left{
    width: 75%;
    border: 1px solid red;
    display: flex;
    justify-content: space-evenly;
    margin-right: 40px;
    padding-bottom: 30px;
}                       

.details_review_icons{
    font-size: 16px;
    color: #FFB800;
    transition: all 0.4s ease-in-out;
    cursor:pointer;
}
.details_review_icons span{
    margin-left: 10px;
}
.details_review_icons svg:hover{
    color: #0a9a73;
}
.details_review_icons span:hover{
    color: #0a9a73;
}
.details_text h3{
    font-size: 24px;
    font-weight: 600;
    margin: 10px 0px 0px 0px;
}
.details_text h1{
    margin: 15px 0px;
    color: #0a9a73;
    font-weight: 700;
}
.details_text h1 >span{
    font-size: 22px;
    font-weight: 700;
    text-decoration: line-through;
}
.details_text hr{
   border: 1px solid #e5eaee;
   border-radius: 5px;
}
.details_text p{
    font-weight: 600;
    padding: 10px 0px;
    color: #808080;
}
.details_text p:last-child{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.details_text p:last-child > svg{
    font-size:30px;
    margin-right: 5px;
}
.details_text p:last-child > span{
    display: flex;
    align-items: center;
    margin-left: 30px;
}
.details_text p > small{
    font-size: 14px;
    font-weight: 600;
    margin-left: 10px;
}
.details_text p > small:first-child{
    margin-left: 50px;
}
.add_to_cart{
    display: flex;
    align-items: center;
    margin-top: 40px;

}
.add_to_cart > span{
    font-size: 22px;
    border: 1px solid #d1dae0;
    padding: 16px 15px;
    
}
.add_to_cart svg{
    font-size: 22px;
    border: 1px solid #d1dae0;
    padding: 20px 7px;
    cursor: pointer;

}
.add_to_cart > button{
    font-size: 18px;
    font-weight: 600;
    padding: 20px 20px;
    background-color: #0a9a73;
    color: #fff;
    border: 0;
    outline: 0;
    margin-left: 30px;
    cursor: pointer;
}
.social-share{
    display: flex;
    align-items: center;
}
.social-share p{
    margin-right: 30px;
}
.social-share svg{
    font-size: 24px;
    margin-left: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.social-share svg:hover{
    color: #0a9a73;

}
.payment_way h4{
    font-size: 20px;
    font-weight: 600;
    margin: 30px 0px 15px 0px;
}














/* details right style */
.details_right{
    width:25%;
    border: 2px solid #ddd;
    padding: 0px 40px;
    margin-right: 40px;
}
.details_right hr{
    border: 1px solid #e5eaee;
}
.top_rated_item{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 8px;
}
.top_rated_item img{
    width: 100px;
}
.top_rated_icons{
    text-align: left;
    font-size: 16px;
}
.top_rated_icons > svg{
   color: #FFB800;
}
.top_rated_icons p{
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 600;
}
.top_rated_icons p > span{
    font-size: 12px;
    text-decoration: line-through;
}
    